{% extends "mturk_base.html" %}
{% block content %}
<span><a href="{{ url_for('views.index')}}">All Articles</a> > Article {{ data.id }}</span>
<header>{{data.title}}({{data.authors}})</header>
<section>
    {% if data.show_workflow %}
        <div>Workflow: 
        {% for workflow_id in data.workflow_list %}
            <a href="{{ url_for('vis_views.topic_vis')}}?workflow_id={{workflow_id}}" class="small-block">{{ workflow_id }}</a>
        {% endfor %}
        </div>
    {% endif %}
    {% for paragraph in data.paragraphs %}
        <p>{{ paragraph[1] }}</p>
    {% endfor %}
</section>
{% endblock %}