{% extends "base.html" %}
{% block content %}

<section>
    <div class="center-area">
    <div class="ui three column grid stackable">
        <div class="column">
            <div class="ui fluid card">
                <div class="image">
                    <img src="/static/images/identify.png">
                </div>
                <div class="content">
                    <a class="header">Identify Task</a>
                </div>
            </div>
        </div>
    
        <div class="column">
            <div class="ui fluid card">
                <div class="image">
                    <img src="/static/images/highlight.png">
                </div>
                <div class="content">
                    <a class="header">Highlight Task</a>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui fluid card">
                <div class="image">
                    <img src="/static/images/classify.png">
                </div>
                <div class="content">
                    <a class="header">Classify Task</a>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
{% endblock %}