{% extends "base.html" %}
{% block title %} - Page Not Found{% endblock %}
{% block content %}
    {% if errornum == 1010 %}
    <h4> 
        <p>Sorry, our records indicate that you have already completed (or attempted to complete) this hit before.<p>
        <p>Because this is a experiment, participants can only complete this hit for limited times.</p>
        <p>Please release the hit so that someone else can perform the experiment.</p>
        <p>Thank you!</p>
    </h4>        
    {% else %}
    	<h4> 
    	    <p>Sorry, there was an unexpected error in our processing of your hit.<p> 
    	    <p>Please email <a href="janetyc@gmail.com">janetyc@gmail.com</a><br/>
    	    and send the following information:</p>
    	</h4>
	    <div>
	        <h4>
	        Error: #{{ errornum }}<br>
            {{ errordesc }}
	        {% if hitid %} HitI: #{{ hitid }}<br> {% endif %}
	        {% if assignid %}AssignId: #{{ assignid }}<br> {% endif %}
	        {% if workerid %} WorkerId: #{{ workerid }}<br> {% endif %}
	        </h4>
	    </div>
	    <h4><p>Our sincere apologies!</p></h4>
    {% endif %}
{% endblock %}