{% extends "base.html" %}
{% block content %}
<span><a href="{{ url_for('views.show_all')}}">All Articles</a> > Article {{ data.article_id}}</span>
<div class="article-title">{{ data.title }}</div>
<div>
    {% for golden in data.all_goldens %}
        <a href="{{ url_for('admin_views.groundtruth', article_id=data.article_id)}}?golden_id={{golden}}">{{golden}}</a>
    {% endfor %}
    (<a href="{{ url_for('admin_views.get_groundtruth_json', article_id=data.article_id)}}">json</a>)
</div>

<div class="ui buttons" id="annotate-type">
  <button class="ui button active">Topic</button>
  <button class="ui button">Irrelevance</button>
  <button class="ui button">Relevance</button>
</div>

<div class="ui input right-block">
  <input id="annotator-name" type="text" placeholder="Input the name...">
</div>
<div id="working-area" class="content">
    {% for paragraph_idx in data.content_map %}
    <p class="paragraph" id="paragraph_{{ paragraph_idx }}">
        {% for sentence_idx in range(data.content_map[paragraph_idx]|length) %}
        {% if data.topic_map[paragraph_idx][sentence_idx] %}
        <span id="sentence_{{sentence_idx}}" class="sentence highlight-sentence highlight">
        {% elif data.irrelevance_map[paragraph_idx][sentence_idx] %}
        <span id="sentence_{{sentence_idx}}" class="sentence highlight-sentence irrelevance">
        {% else %}
        <span id="sentence_{{sentence_idx}}" class="sentence highlight-sentence">
        {% endif %}
            {% for word in data.content_map[paragraph_idx][sentence_idx].strip().split(" ") %}
                {% if word %}
                    {% if data.relevance_map[paragraph_idx][sentence_idx][loop.index-1] %}
                    <span class="basic-word relevance" id="word_{{loop.index-1}}">{{word}}</span>
                    {% else %}
                    <span class="basic-word" id="word_{{loop.index-1}}">{{word}}</span>
                    {% endif%}
                {% endif %}    
            {% endfor %}
            <!--{{data.content_map[paragraph_idx][sentence_idx]}}-->
        </span>
        {% endfor %}
    </p>
    {% endfor %}
</div>
<div class="submit-area" id="submitTask">
    <div id="submitAnswer" class="ui button green">Submit</div>
</div>
{% endblock %}


{% block extra_js %}
<script>
    $(function() {
        $current_type = $(".ui.button.active").text();
        //hide loading image
        $('#loading-image').hide();

        //highlight selection
        $('.highlight-sentence').click(function(){
            if($current_type == "Topic"){
                $(this).toggleClass('highlight');
            }
            if($current_type == "Irrelevance"){
                $(this).toggleClass('irrelevance');
            }
        });
        $('.basic-word').click(function(){
            if($current_type == "Relevance"){
                $(this).toggleClass('relevance');
            }
        });
        
        
        $('#annotate-type .ui.button').click(function(){
            $('#annotate-type .ui.button').removeClass('active');
            $(this).addClass('active');
            $current_type = $(this).text();
            if($current_type == "Topic"){
                console.log("Topic");
                $(".sentence").addClass("highlight-sentence");
                $(".basic-word").removeClass("word");
            }
            if($current_type == "Irrelevance"){
                console.log("Irrelevance");
                $(".sentence").addClass("highlight-sentence");
                $(".basic-word").removeClass("word");
            }
            if($current_type == "Relevance"){
                console.log("Relevance");
                $(".sentence").removeClass("highlight-sentence");
                $(".basic-word").addClass("word");
            }
            
        });

        //submit answer to server
        $("#submitAnswer").click(function(event){

            // retrieve all topic sentences
            var topicArray = new Array();
            $('.highlight').each(function(j){
                var sentence_id = $(this).closest('.sentence').attr('id').split("_");
                var paragraph_id = $(this).closest('.paragraph').attr('id').split("_");
                topicArray.push(paragraph_id[1]+"-"+sentence_id[1]); 
            });

            var irrelevanceArray = new Array();
            $('.irrelevance').each(function(j){
                var sentence_id = $(this).closest('.sentence').attr('id').split("_");
                var paragraph_id = $(this).closest('.paragraph').attr('id').split("_");
                irrelevanceArray.push(paragraph_id[1]+"-"+sentence_id[1]); 
            });


            // retrieve all relevance area
            var relevanceArr = new Array();
            $("#working-area .relevance").each(function(i){
                var word_id = this.id.split("_");
                var sentence_id = $(this).closest('.sentence').attr('id').split("_");
                var paragraph_id = $(this).closest('.paragraph').attr('id').split("_");

                relevanceArr.push(paragraph_id[1]+"-"+sentence_id[1]+"-"+word_id[1]);
            });

            
            var resultTopic = "";
            resultTopic = topicArray.join("|");
            //console.log("topic-->"+resultTopic);

            var resultRelevance = "";
            resultRelevance = relevanceArr.join("|");
            //console.log("relevance-->"+resultRelevance);

            var resultIrrelevance = "";
            resultIrrelevance = irrelevanceArray.join("|");

            $.ajax({
                type: "GET",
                url: "/api/add_golden_structure",

                data: {
                    "article_id": "{{ data.article_id }}",
                    "golden_topic": resultTopic,
                    "golden_relevance": resultRelevance,
                    "golden_irrelevance": resultIrrelevance,
                    "created_user": $("#annotator-name").val()
                },
                

                dataType: 'json', 
                beforeSend: function(){
                    $('#loading-image').show();
                },
                complete: function(){
                    $('#loading-image').hide();
                },
                success: function(data) {
                    window.location = "/success";
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    alert("Error");    
                }
            });
        });
        
    });
</script>
{% endblock %}