{% extends "base.html" %}
{% block content %}
<header>Relation Task: Identify Relation between Two Sentences </header>
<section>
    <div class="definition">
        <div class="def-subtitle"><i class="linkify icon"></i>Relation Catagories</div>
        <ul>
            <li><b>Addition:</b> add another idea or more information</li>
            <li><b>Sequential/Process Order:</b> describes the sequence order how things work. Sequences are told through dates, times, or numbers. Processes are explained through steps or stages.
                <ul>
                    <li><b>Example:</b> When Althea first began to drink, she just did not realize the risks she faced. Over time, her drinking slowly but surely took total control of her life.</li>
                </ul>
            </li>
            <li><b>Compare:</b> discusses similarities among ideas, theories, concepts, objects, or persons.</li>
            <li><b>Contrast:</b> discusses differences among ideas, theories, concepts, objects, or persons.</li>
            <li><b>Cause:</b> describes why things happen</li>
            <li><b>Effect:</b> describes what happens as a result</li>
            <li><b>Generalization:</b> provides a condensed review of an idea or summary/conclude several ideas (specific to general)</li>
            <li><b>Specification (Example): </b> provides examples or information that clarify a broad, general statement or explain a concept. (general to specific)
                <ul>
                    <li><b>Example:</b> Food labels provide important information. For example, the label on Rich Harvest Sweet Dark Whole Grain bread states that one slice has 120 calories.</li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="example-area">
        <div><i class="newspaper icon"></i><span class="block-title">Example</span></div>
        <div>Title: Affective Computational Priming and Creativity</div>
 
        <div>Paragraph:</div>
        <div><span class="pair">Creative professionals, such as engineers, scientists, and designers, increasingly rely on technology to complete creative tasks at work.</span> <span class="pair">They use web browsers to conduct research and search for inspiration. They document projects on wikis in order to collaborate with others.</span> They depend on graphic design software and word processors to design and create. In response, human-computer interaction (HCI) researchers have started building creativity support tools, or software to enhance creative performance [cited]</div>
        <hr/>
        <b>Relation Category</b>
        <div>S1: Creative professionals, such as engineers, scientists, and designers, increasingly rely on technology to complete creative tasks at work.</div>
        <div>S2: They use web browsers to conduct research and search for inspiration. They document projects on wikis in order to collaborate with others.</div>
        <div class="classification"><i class="write icon"></i>What's relation from S1 to S2? <span class="word-box">Specification</span></div>
    </div>
    <hr>
    <div class="problem-area">
        <div><i class="help circle icon"></i><span class="block-title">Please Identify Topic Sentence in the Paragraph</span></div>
        <div class="problem">
            <div>Title: {{ data.title }}</div>
            <div>Paragraph:</div>
            <div id="working-area">
                <div class="problem-relation">
                    <div class="paragraph" id="paragraph_{{data.paragraph_idx}}">
                        {% for sentence in data.sentence_list %}
                        <span class="sentence">{{ sentence }}.</span>
                        <!--{% if (loop.index-1) in data.pair_ids %}
                                <span class="pair sentence">{{ sentence }}.</span>
                            {% else %}
                                    <span class="sentence">{{ sentence }}.</span>
                            {% endif %}-->
                        {% endfor %}
                    </div>

                    <div><button class="ui button" id="finishedButton">I've finished the reading.</button>
                    <div class="relation-area" id="relationArea">
                        <b>Relation Category</b>
                        {% for s_index in range(0, data.sentence_list|length) %}
                            <div id="sentence_{{s_index}}">S{{s_index}}: {{ data.sentence_list[s_index] }}.</div>
                        {% endfor %}
                        
                        <b><i class="write icon"></i>Please answer the following questions:</b>
                        <ol>
                        {% for s_index in range(data.sentence_list|length-1) %}
                            <li>
                                <div class="classification">What's relation from S{{s_index}} to S{{s_index+1}}? 
                                <div class="ui dropdown dropdown-menu relation" id="relation_{{ "%s-%s" % (s_index,s_index+1) }}">
                                <div class="text">Relation Categories</div><i class="dropdown icon"></i>
                                <div class="menu">
                                    <div class="item">Addition</div>
                                    <div class="item">Sequential/Process Order</div>
                                    <div class="item">Cause/Effect
                                        <i class="dropdown icon"></i>
                                        <div class="menu">
                                            <div class="item">Cause</div>
                                            <div class="item">Effect</div>
                                        </div>
                                    </div>

                                    <div class="item">Comparison and Contrast
                                        <i class="dropdown icon"></i>
                                        <div class="menu">
                                            <div class="item">Comparison</div>
                                            <div class="item">Contrast</div>
                                        </div>
                                    </div>
                                    <div class="item">Generalization and Specification
                                        <i class="dropdown icon"></i>
                                        <div class="menu">
                                            <div class="item">Generalization</div>
                                            <div class="item">Specification</div>
                                        </div>
                                    </div>
                                    <div class="item">Others</div>
                                    <div class="item">None</div>
                                </div>
                                </div>
                                </div>
                            </li>
                        {% endfor %}
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="ui segment" id="loading-image">
        <div class="ui active loader">
            <div class="ui indeterminate large loader"></div>
        </div>
        <p></p>
    </div>
    <div class="answer-area">
        <div class="submit-area" id="submitTask">
            <div id="submitAnswer" class="ui button green">Submit</div>
        </div>
    </div>
</section>
{% endblock %}
{% block extra_js %}
<script>
    $(function() {
        var worker_id = "{{ data.worker_id }}";
        var assignment_id = "{{ data.assignment_id }}"
        var hit_id = "{{ data.hit_id }}"

        if(assignment_id != "" && hit_id !=""){
            $("#navBar").css("display", "none");
        }


        //preview
        var preview_flag = "{{ data.preview_flag }}";
        if (preview_flag != ""){
            $("#submitTask").css("display", "none");
        }


        $('#loading-image').hide();

        //disable submit button
        $('#submitAnswer').addClass("disabled");

        //enable dropdown menu
        $('.ui.dropdown').dropdown();
        $('#relationArea').hide();
        $('#finishedButton').click(function(){
            $('#relationArea').show();
            $('#finishedButton').hide();
        });

        $('#working-area .relation').click(function(){
            var allValues = $('#working-area .relation .text').map(function () { return $(this).text(); });
            if($.inArray("Relation Categories", allValues) == -1) $('#submitAnswer').removeClass("disabled");
            else $('#submitAnswer').addClass("disabled");
        });


        //submit answer to server
        $("#submitAnswer").click(function(event){

            // retrieve all relevance area
            var relationArr = new Array();
            $("#working-area .relation").each(function(i){
                var relation_type = $(this).find(".text").text();
                var relation_id = this.id.split("_");
                var paragraph_id = $(this).closest('.problem-relation').find('.paragraph').attr('id').split("_");
                relationArr.push(paragraph_id[1]+":"+relation_id[1]+":"+relation_type);
            });

            var resultRelation = ""
            resultRelation = relationArr.join("|");
            console.log(resultRelation);

            $.ajax({
                type: "GET",
                url: "/api/add_relation",

                data: {
                    "article_id": "{{ data.article_id }}",
                    "worker_id": worker_id,
                    "paragraph_relation": resultRelation,
                    "verified_string": "{{ data.verified_string }}",
                    "assignment_id": assignment_id,
                    "hit_id": hit_id
                },

                dataType: 'json', 

                success: function(data) {
                    if(data['success'] == 1){
                        if(assignment_id==""){
                            window.location = "/success?verified_string={{data.verified_string}}";
                        }
                        else{
                            window.location = "/closepopup?hitId={{ data.hit_id }}&assignmentId={{ data.assignment_id}}&workerId={{data.worker_id}}&verified_string={{data.verified_string}}";
                        }
                    }else{
                        window.location = "/success";
                    }
                },
                beforeSend: function(){
                    $('#loading-image').show();
                },
                complete: function(){
                    $('#loading-image').hide();
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    alert("Error");    
                }
            });
        });
    });
</script>
{% endblock%}