{% extends "base.html" %}
{% block content %}
<header>Relation Task: Identify Relation between Two Sentences </header>
<section>
    <div class="definition">
        <h4>Relation Catagories</h4>
        <ul>
            <li>Addition</li>
            <li>Chronological/Process Order</li>
            <li>Cause/Effect</li>
            <li>Comparison and Contrast</li>
            <li>Generalization and Example</li>
        </ul>
    </div>

    <div class="example-area">
        <div><i class="newspaper icon"></i><span class="block-title">Example</span></div>
        <div>Title: Affective Computational Priming and Creativity</div>
 
        <div>Paragraph:</div>
        <div><span class="pair">Creative professionals, such as engineers, scientists, and designers, increasingly rely on technology to complete creative tasks at work.</span> <span class="pair">They use web browsers to conduct research and search for inspiration. They document projects on wikis in order to collaborate with others.</span> They depend on graphic design software and word processors to design and create. In response, human-computer interaction (HCI) researchers have started building creativity support tools, or software to enhance creative performance [cited]</div>
        <hr/>
        <b>Relation Category</b>
        <div>S1: Creative professionals, such as engineers, scientists, and designers, increasingly rely on technology to complete creative tasks at work.</div>
        <div>S2: They use web browsers to conduct research and search for inspiration. They document projects on wikis in order to collaborate with others.</div>
        <div class="classification"><i class="write icon"></i>What's relation from S1 to S2? <span style="font-weight: bold;  text-decoration: underline; margin-left: 5px;">Generalization and Example</span></div>
    </div>
    <hr>
    <div class="problem-area">
        <div><i class="help circle icon"></i><span class="block-title">Please Identify Topic Sentence in the Paragraph</span></div>
        <div class="problem">
            <div>Title: {{ data.title }}</div>
            <div>Paragraph:</div>
            <div id="working-area">
                {% for sentence in data.content_list %}
                    {% if sentence %}
                        {% if (loop.index-1) in data.pair_ids %}
                            <span class="pair">{{ sentence }}.</span>
                        {% else %}
                            {{ sentence }}.
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>

            <hr/>
            <b>Relation Category</b>
            <div>S1: {{ data.content_list[data.pair_ids[0]] }}</div>
            <div>S2: {{ data.content_list[data.pair_ids[1]] }}</div>

            <div class="classification"><i class="write icon"></i>What's relation from S1 to S2? 

            <div class="ui dropdown dropdown-menu">
            <div class="text">Relation Categories</div><i class="dropdown icon"></i>
            <div class="menu">
                <div class="item">Addition</div>
                <div class="item">Chronological/Process Order</div>
                <div class="item">Cause/Effect
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="item">Cause</div>
                        <div class="item">Effect</div>
                    </div>
                </div>

                <div class="item">Comparison and Contrast
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="item">Comparison</div>
                        <div class="item">Contrast</div>
                    </div>
                </div>
                <div class="item">Generalization and Example</div>
                <div class="item">Other</div>

            </div>
            </div>

            </div>
        </div>
        
    </div>
    
    <div class="answer-area">
        <div class="submit-area">
            <div id="submit" class="ui button green">Submit</div>
        </div>
    </div>
</section>
{% endblock %}
{% block extra_js %}
<script>
$('.ui.dropdown').dropdown();
</script>
{% endblock%}