{% extends "base.html" %}
{% block content %}
<header>Task: Locating Relevant Ideas between Two Sentences</header>
<section>
    <!--<div class="definition">
    </div>-->

    <div class="example-area">
        <div><i class="newspaper icon"></i><span class="block-title">Example</span></div>
        <div>Title: Affective Computational Priming and Creativity</div>
 
        <div>Content:</div>
        <div><span class="highlight">Creative professionals, such as engineers, scientists, and designers, increasingly rely on technology to complete creative tasks at work.</span> They use <span class="relevance">web browsers</span> to conduct research and search for inspiration. They document projects on <span class="relevance">wikis</span> in order to collaborate with others. They depend on <span class="relevance">graphic design software</span> and <span class="relevance">word processors</span> to design and create. In response, human-computer interaction (HCI) researchers have started building <span class="relevance">creativity support tools</span>, or software to enhance creative performance [cited].</div>
    </div>
    <hr>
    <div class="problem-area">
        <div><i class="help circle icon"></i><span class="block-title">Please Highlight the Relevant Area Between Topic Sentence and the Other Sentence</span></div>
        <div class="problem">
            <div>Title: {{ data.title }}</div>
            <div>Paragraph:</div>
            <div id="working-area">
                <p class="paragraph" id="paragraph_{{ data.paragraph_idx }}">
                {% for sentence_idx in range(data.sentence_list|length) %}
                    <span id="sentence_{{sentence_idx}}" class="sentence">
                    {% if not (data.topic_sentence is none) and (sentence_idx == data.topic_sentence_idx) %}
                        <span class="highlight topic_sentence">{{ data.sentence_list[sentence_idx] }}.</span>
                    {% else %}
                        {% for word in data.sentence_list[sentence_idx].strip().split(" ") %}
                            {% if word %}
                                <span class="word" id="word_{{loop.index-1}}">{{word}}</span>
                            {% endif %}    
                        {% endfor %}
                        .
                    {% endif %}
                    </span>
                {% endfor %}
                </p>
            </div>
        </div>
    </div>
    <div class="answer-area">
        <div class="ui segment" id="loading-image">
            <div class="ui active loader">
                <div class="ui indeterminate large loader"></div>
            </div>
            <p></p>
        </div>
        <div class="submit-area" id="submitTask">
            <div>
                <div class="ui checkbox" id="checkEmpty">
                    <input type="checkbox" name="example">
                    <label>No relevance area corresponding to the topic sentence</label>
                </div>
            </div>
            <div id="submitAnswer" class="ui button green">Submit</div>
        </div>
    </div>
</section>
{% endblock %}

{% block extra_js %}
<script>
    $(function() {
        
        var worker_id = "{{ data.worker_id }}";
        var assignment_id = "{{ data.assignment_id }}"
        var hit_id = "{{ data.hit_id }}"

        if(assignment_id != "" && hit_id !=""){
            $("#navBar").css("display", "none");
        }

        //preview
        var preview_flag = "{{ data.preview_flag }}";
        if (preview_flag != ""){
            $("#submitTask").css("display", "none");
        }

        //hide loader
        $('#loading-image').hide();

        //disable submit button
        $('#submitAnswer').addClass("disabled");

        //highlight selection
        $('.word').click(function(){
            $(this).toggleClass('relevance');

            if($('#working-area .relevance').length){
                $('#submitAnswer').removeClass("disabled");
                $('#checkEmpty input').removeAttr("checked");
                $('#checkEmpty input').attr("disabled", true);
            }
            else{
                $('#checkEmpty input').removeAttr("checked");
                $('#checkEmpty input').removeAttr("disabled");
                $('#submitAnswer').addClass("disabled");
            }
        });
        
        $('#checkEmpty').click(function(){
            if($('#checkEmpty input').is(':checked')) $('#submitAnswer').removeClass("disabled");
            else $('#submitAnswer').addClass("disabled");
        });


        //submit answer to server
        $("#submitAnswer").click(function(event){

            // retrieve all relevance area
            var relevanceArr = new Array();
            $("#working-area .relevance").each(function(i){
                var word_id = this.id.split("_");
                var sentence_id = $(this).closest('.sentence').attr('id').split("_");
                var paragraph_id = $(this).closest('.paragraph').attr('id').split("_");

                relevanceArr.push(paragraph_id[1]+":"+sentence_id[1]+"-"+word_id[1]);
            });

            // retrieve all topic sentences
            var topicArray = new Array();
            $('.topic_sentence').each(function(j){
                var sentence_id = $(this).closest('.sentence').attr('id').split("_");
                var paragraph_id = $(this).closest('.paragraph').attr('id').split("_");
                topicArray.push(paragraph_id[1]+":"+sentence_id[1]); 
            });


            var resultRelevance = "";
            resultRelevance = relevanceArr.join("|");
            console.log(resultRelevance);

            var resultTopic = "";
            resultTopic = topicArray.join("|");
            console.log(resultTopic);

            $.ajax({
                type: "GET",
                url: "/api/add_relevance",

                data: {
                    "article_id": "{{ data.article_id }}",
                    "worker_id": worker_id,
                    "paragraph_relevance": resultRelevance,
                    "paragraph_topic": resultTopic,
                    "verified_string": "{{ data.verified_string }}",
                    "assignment_id": "{{ data.assignment_id }}",
                    "hit_id": "{{ data.hit_id }}"
                },

                dataType: 'json', 

                success: function(data) {
                    if(data['success'] == 1){
                        if(assignment_id==""){
                            window.location = "/success?verified_string={{data.verified_string}}";
                        }
                        else{
                            window.location = "/closepopup?hitId={{ data.hit_id }}&assignmentId={{ data.assignment_id}}&workerId={{data.worker_id}}&verified_string={{data.verified_string}}";
                        }
                    }else{
                        window.location = "/success";
                    }
                },
                beforeSend: function(){
                    $('#loading-image').show();
                },
                complete: function(){
                    $('#loading-image').hide();
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    alert("Error");    
                }
            });
        });
    });
</script>
{% endblock %}
