{% extends "base.html" %}
{% block content %}
<header>Task: Locating Relevant Ideas between Two Sentences</header>
<section>
    <!--<div class="definition">
    </div>-->

    <div class="example-area">
        <div><i class="newspaper icon"></i><span class="block-title">Example</span></div>
        <div>Title: Affective Computational Priming and Creativity</div>
 
        <div>Paragraph:</div>
        <div><span class="highlight">Creative professionals, such as engineers, scientists, and designers, increasingly rely on technology to complete creative tasks at work.</span> They use <span class="relevance">web browsers</span> to conduct research and search for inspiration. They document projects on <span class="relevance">wikis</span> in order to collaborate with others. They depend on <span class="relevance">graphic design software</span> and <span class="relevance">word processors</span> to design and create. In response, human-computer interaction (HCI) researchers have started building <span class="relevance">creativity support tools</span>, or software to enhance creative performance [cited].</div>
    </div>
    <hr>
    <div class="problem-area">
        <div><i class="help circle icon"></i><span class="block-title">Please Highlight the Relevant Area Between Topic Sentence and the Other Sentence</span></div>
        <div class="problem">
            <div>Title: {{ data.title }}</div>
            <div>Paragraph:</div>
            <div id="working-area">
                {% for i in range(data.paragraphs|length) %}
                    <p class="paragraph" id="paragraph_{{i}}">
                    {% for j in range(data.paragraphs[i]|length) %}
                        <span id="sentence_{{j}}" class="sentence">
                        {% if data.topic_sentence[i][j] > 2 %}
                            <span class="highlight topic_sentence">{{ data.paragraphs[i][j] }}.</span>
                        {% else %}
                            {% for word in data.paragraphs[i][j].strip().split(" ") %}
                                {% if word %}
                                    <span class="word" id="word_{{loop.index-1}}">{{word}}</span>
                                {% endif %}    
                            {% endfor %}
                            .
                        {% endif %}
                        </span>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="answer-area">
        <div class="submit-area">
            <div>
                <div class="ui checkbox">
                    <input type="checkbox" name="example">
                    <label>No relevance area corresponding to the topic sentence</label>
                </div>
            </div>
            <div id="submitAnswer" class="ui button green">Submit</div>
        </div>
    </div>
</section>
{% endblock %}

{% block extra_js %}
<script>
    $(function() {
        //need to change to real worker id
        var worker="tester";

        //highlight selection
        $('.word').click(function(){
            $(this).toggleClass('relevance');
        });
        

        //submit answer to server
        $("#submitAnswer").click(function(event){

            // retrieve all relevance area
            var relevanceArr = new Array();
            $("#working-area .relevance").each(function(i){
                var word_id = this.id.split("_");
                var sentence_id = $(this).closest('.sentence').attr('id').split("_");
                var paragraph_id = $(this).closest('.paragraph').attr('id').split("_");

                relevanceArr.push(paragraph_id[1]+":"+sentence_id[1]+"-"+word_id[1]);
            });

            // retrieve all topic sentences
            var topicArray = new Array();
            $('.topic_sentence').each(function(j){
                var sentence_id = $(this).closest('.sentence').attr('id').split("_");
                var paragraph_id = $(this).closest('.paragraph').attr('id').split("_");
                topicArray.push(paragraph_id[1]+":"+sentence_id[1]); 
            });


            var resultRelevance = "";
            resultRelevance = relevanceArr.join("|");
            console.log(resultRelevance);

            var resultTopic = "";
            resultTopic = topicArray.join("|");
            console.log(resultTopic);

            $.ajax({
                type: "GET",
                url: "/api/add_relevance",

                data: {
                    "article_id": {{ data.article_id }},
                    "created_user": worker,
                    "paragraph_relevance": resultRelevance,
                    "paragraph_topic": resultTopic
                },

                dataType: 'json', 

                success: function(data) {
                    window.location = "/success";
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    alert("Error");    
                }
            });
        });
    });
</script>
{% endblock %}
