{% extends "mturk_base.html" %}
{% block title %} - Workflow{% endblock %}
{% block content %}
<div class="vis-area ui piled segment">
    <div class="slider-area">
        <div class="ui range blue" id="topic-slider"></div>
        <div class="value-block">Topic weight: <span id="topic-value"></span></div>
    </div>
    <div class="slider-area">
        <div class="ui range black" id="relevance-slider"></div>
        <div class="value-block">Relevance weight: <span id="relevance-value"></span></div>
    </div>
    
    <div class="article-title">{{ data.title }}</div>
    {% for paragraph_idx in data.content_map %}

    {% if data.issue_map[paragraph_idx]["topic"] != 1 or data.issue_map[paragraph_idx]["irrelevance"] != 0 %}
    <!-- Issue Tips -->
    <div class="ui error message">
    <i class="close icon"></i>
        <div class="header">Structrual Issues</div>
        <ul class="list">
            {% if data.issue_map[paragraph_idx]["topic"] != 1 %}
                {% if data.issue_map[paragraph_idx]["topic"] < 1 %}
                <li>missing topic sentence</li>
                {% elif data.issue_map[paragraph_idx]["topic"] > 1 %}
                <li>multiple topic sentence</li>
                {% endif %}
            {% endif %}
            {% if data.issue_map[paragraph_idx]["topic"] >= 1 %}
                {% if data.issue_map[paragraph_idx]["irrelevance"] %}
                    {% if data.issue_map[paragraph_idx]["irrelevance"] == 1 %}
                    <li>existing {{ data.issue_map[paragraph_idx]["irrelevance"] }} irrelevant sentence.</li>
                    {% else %}
                    <li>existing {{ data.issue_map[paragraph_idx]["irrelevance"] }} irrelevant sentences.</li>
                    {% endif %}
                {% endif %}
            {% endif %}
        </ul>
    </div>
    {% endif %}
    <!-- Paragraph Content -->
    <p class="paragraph" id="paragraph_{{ paragraph_idx }}">
        {% for sentence_idx in range(data.content_map[paragraph_idx]|length) %}
        <span id="sentence_{{sentence_idx}}" class="sentence">
            {% if data.content_map[paragraph_idx][sentence_idx][1] > 5 %}
                <span class="topic-sentence sentence-vis high-weight">
                {% for word_idx in range(data.content_map[paragraph_idx][sentence_idx][0]|length) %}
                    <span class="word-vis">{{data.content_map[paragraph_idx][sentence_idx][0][word_idx][0]}}</span>
                {% endfor %}
                </span>
            {% elif data.content_map[paragraph_idx][sentence_idx][1] > 0 %}
                <span class="topic-sentence sentence-vis weight-{{data.content_map[paragraph_idx][sentence_idx][1]}}">
                {% for word_idx in range(data.content_map[paragraph_idx][sentence_idx][0]|length) %}
                    <span class="word-vis">{{data.content_map[paragraph_idx][sentence_idx][0][word_idx][0]}}</span>
                {% endfor %}
                </span>
            {% else %}
                <span class="not-topic-sentence">
                {% for word_idx in range(data.content_map[paragraph_idx][sentence_idx][0]|length) %}
                    {% if data.content_map[paragraph_idx][sentence_idx][0][word_idx][1] > 0 %}
                    <span id="word_{{word_idx}}" class="word-vis word-relevance relevance-weight-{{data.content_map[paragraph_idx][sentence_idx][0][word_idx][1]}}">
                        {{data.content_map[paragraph_idx][sentence_idx][0][word_idx][0]}}
                    </span>
                    {% else %}
                    <span id="word_{{word_idx}}" class="word-vis">
                        {{data.content_map[paragraph_idx][sentence_idx][0][word_idx][0]}}
                    </span>
                    {% endif %}
                {% endfor %}.
                </span>
            {% endif %}
        </span>
        {% endfor %}
    </p>
    {% endfor %}
</div>
{% endblock %}

{% block extra_js %}

<script>
    
    $(function() {
        $('#topic-slider').range({
            min: 0,
            max: 5,
            start: 2,
            onChange: function(val) { 
                $("#topic-value").text(val);
                $(".sentence-vis").removeClass('disable-color');
                for(var i=0; i<val; i++){
                    if(!$(".weight-"+i).hasClass('disable-color')) $(".weight-"+i).addClass('disable-color');
                }


            }
        });

        $('#relevance-slider').range({
            min: 0,
            max: 3,
            start: 2,
            onChange: function(val) { 
                $("#relevance-value").text(val);
                $(".word-relevance").removeClass('disable-color');
                for(var i=0; i<val; i++){
                    if(!$(".relevance-weight-"+i).hasClass('disable-color')) $(".relevance-weight-"+i).addClass('disable-color');
                }
            }
        });

        $(".close.icon").click(function(){
            $(this).parent().hide();
        });
        
    });
</script>
{% endblock %}