{% extends "base.html" %}
{% block content %}
<header>Task: Identify Topic Sentence</header>
<section>
    <div class="definition">
        <h4><i class="info circle icon"></i><span class="block-title">What is a topic sentence?</span></h4>
        <ul>
        <li>A topic sentence is a sentence that captures the meaning of the entire paragraph or group of sentences.</li>
        <li>It is composed of two parts: (a) the topic itself and (b) the controlling idea.</li>
        </ul>
    </div>

    <div class="example-area">
        <div><i class="newspaper icon"></i><span class="block-title">Example</span></div>
        <div>Title: Affective Computational Priming and Creativity</div>
 
        <div>Paragraph:</div>
        <div class="content"><span class="highlight">Creative professionals, such as engineers, scientists, and designers, increasingly rely on technology to complete creative tasks at work.</span> They use web browsers to conduct research and search for inspiration. They document projects on wikis in order to collaborate with others. They depend on graphic design software and word processors to design and create. In response, human-computer interaction (HCI) researchers have started building creativity support tools, or software to enhance creative performance [cited]</div>
    </div>
    <hr>
    <div class="problem-area">
        <div><i class="help circle icon"></i><span class="block-title">Please Identify Topic Sentence in the Paragraph</span></div>
        <div class="problem">
            <div>Title: {{ data.title }}</div>
            <div>Paragraph:</div>
            <div id="working-area" class="content">
                {% for paragraph in data.content %}
                    {% if data.paragraph_idx %}
                    <p class="paragraph" id="paragraph_{{data.paragraph_idx}}">
                    {% else %}
                    <p class="paragraph" id="paragraph_{{loop.index-1}}">
                    {% endif %}
                    {% for sentence in paragraph.split(".") %}
                        {% if sentence %}
                        <span class="sentence highlight-sentence" id="sentence_{{loop.index-1}}">{{ sentence }}.</span>
                        {% endif %}
                    {% endfor %}
                    </p>
                {% endfor %}
            </div>

            <div class="submit-area">
                <div>
                    <div class="ui checkbox">
                    <input type="checkbox" name="example">
                    <label>No topic sentenice</label>
                    </div>
                </div>
                <div id="submitAnswer" class="ui button green">Submit</div>
            </div>
        </div>
    </div>
    
</section>
{% endblock %}

{% block extra_js %}
<script>
    $(function() {
        var worker = "{{ data.worker_id }}";


        //highlight selection
        $('.sentence').click(function(){
            $(this).toggleClass('highlight');
        });


        //submit answer to server
        $("#submitAnswer").click(function(event){
            var resultArr = new Array();
            $("#working-area .highlight").each(function(i){
                var sentence_id = this.id.split("_");
                var paragraph_id = $(this).parent().attr('id').split("_");
                resultArr.push(paragraph_id[1]+":"+sentence_id[1]);
            });

            var result = "";
            result = resultArr.join("|");

            $.ajax({
                type: "GET",
                url: "/api/add_topic",

                data: {
                    "article_id": {{ data.article_id }},
                    "created_user": worker,
                    "paragraph_topic": result,
                },

                dataType: 'json', 

                success: function(data) {
                    window.location = "/success";
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    alert("Error");    
                }
            });
        });
    });
</script>
{% endblock %}