{% extends "mturk_base.html" %}
{% block title %} - Workflow{% endblock %}
{% block content %}
<div class="vis-area ui piled segment">
    <div class="slider-area">
        <div class="ui range blue" id="topic-slider"></div>
        <div class="value-block">Topic weight: <span id="topic-value"></span></div>
    </div>
    <div class="slider-area">
        <div class="ui range black" id="relevance-slider"></div>
        <div class="value-block">Relevance weight: <span id="relevance-value"></span></div>
    </div>
    
    {% if data.topic_tip %}
    <div class="ui info message teal">
        <i class="close icon"></i>
        <div class="header">
            Tips: Topic sentence
        </div>
        <ul class="list">
            <li>Topic sentence is a sentence that captures the meaning of the entire paragraph.</li>
            <li>It should have two parts: (a) the topic itself and (b) the controlling idea.</li>
            <li>Each paragraph should have <u>only one</u> topic sentence.</li>
        </ul>
    </div>
    {% endif %}

    <div class="article-title">{{ data.title }}</div>
    {% for paragraph_idx in data.content_map %}
    
    {% if data.issue_map[paragraph_idx]["topic"] != 1 or data.issue_map[paragraph_idx]["irrelevance"] != 0 %}
    <!-- Issue Tips -->
    <div class="ui red error message">
        <!--<i class="close icon"></i>-->
        <div class="header">Paragraph {{paragraph_idx+1}}:
            {% if data.issue_map[paragraph_idx]["topic"] != 1 %}
                {% if data.issue_map[paragraph_idx]["topic"] < 1 %}
                <span>Missing topic sentence</span>
                {% elif data.issue_map[paragraph_idx]["topic"] > 1 %}
                <span>Multiple topic sentence</span>
                {% endif %}
                </div>
                <!--<ul class="list">
                    <li>Please rewrite the paragraph to have one topic sentence</li>
                </ul>-->
                <ul class="list">
                    <li>Please rewrite the paragraph {{paragraph_idx+1}} to have <u>1 topic sentence</u></li>
                    <!--<li>Topic sentence is a sentence that <u>captures the meaning of the entire paragraph.</u></li>
                    <ul>
                    <li>It should have two parts: <u>(a) the topic itself</u> and <u>(b) the controlling idea.</u></li>
                    </ul>-->
                    {% if data.issue_map[paragraph_idx]["irrelevance"] %}
                        {% if data.issue_map[paragraph_idx]["irrelevance"] == 1 %}
                        <li>Existing <u>{{ data.issue_map[paragraph_idx]["irrelevance"] }} irrelevant sentence</u></li>
                        {% else %}
                        <li>Existing <u>{{ data.issue_map[paragraph_idx]["irrelevance"] }} irrelevant sentences</u></li>
                        {% endif %}
                    {% endif %}
                </ul>
            {% else %}
                {% if data.issue_map[paragraph_idx]["irrelevance"] %}
                    {% if data.issue_map[paragraph_idx]["irrelevance"] == 1 %}
                    <span>Existing {{ data.issue_map[paragraph_idx]["irrelevance"] }} irrelevant sentence.</span>
                    {% else %}
                    <span>Existing {{ data.issue_map[paragraph_idx]["irrelevance"] }} irrelevant sentences.</span>
                    {% endif %}
                {% endif %}
                </div>
                <ul class="list">
                    <li>Please remove irrelevant sentences or rewrite them to become relevant to the topic sentence.</li>
                </ul>
            {% endif %}
    </div>
    {% endif %}
    <!-- Paragraph Content -->
    <p class="paragraph" id="paragraph_{{ paragraph_idx }}">
        {% for sentence_idx in range(data.content_map[paragraph_idx]|length) %}
        <span id="sentence_{{sentence_idx}}" class="sentence">
            {% if data.content_map[paragraph_idx][sentence_idx][1] > 1 %}
            <span class="topic-sentence">
                {% if data.content_map[paragraph_idx][sentence_idx][1] > 5 %}
                <span class="sentence-vis high-weight">
                {% else %}
                <span class="sentence-vis weight-{{data.content_map[paragraph_idx][sentence_idx][1]}}">
                {% endif %}
                {% for word_idx in range(data.content_map[paragraph_idx][sentence_idx][0]|length) %}
                    <span class="word-vis">{{data.content_map[paragraph_idx][sentence_idx][0][word_idx][0]}}</span>
                {% endfor %}
                .</span>
            </span>
            {% else %}
            <span class="not-topic-sentence">
                {% if data.content_map[paragraph_idx][sentence_idx][1] > 0 %}
                    {% if sentence_idx in data.issue_map[paragraph_idx]["irrelevance_list"] %}
                    <span class="sentence-vis weight-{{data.content_map[paragraph_idx][sentence_idx][1]}} irrelevant-sentence">
                    {% else %}
                    <span class="sentence-vis weight-{{data.content_map[paragraph_idx][sentence_idx][1]}}">
                    {% endif %}
                {% else %}
                    {% if sentence_idx in data.issue_map[paragraph_idx]["irrelevance_list"] %}
                    <span class="irrelevant-sentence">
                    {% else %}
                    <span>
                    {% endif %}
                {% endif %}
                
                {% for word_idx in range(data.content_map[paragraph_idx][sentence_idx][0]|length) %}
                    {% if data.content_map[paragraph_idx][sentence_idx][0][word_idx][1] > 0 %}
                    <span id="word_{{word_idx}}" class="word-vis word-relevance relevance-weight-{{data.content_map[paragraph_idx][sentence_idx][0][word_idx][1]}}">
                        {{data.content_map[paragraph_idx][sentence_idx][0][word_idx][0]}}
                    </span>
                    {% else %}
                    <span id="word_{{word_idx}}" class="word-vis">
                        {{data.content_map[paragraph_idx][sentence_idx][0][word_idx][0]}}
                    </span>
                    {% endif %}
                {% endfor %}
                .</span>
            </span>
            {% endif %}
        </span>
        {% endfor %}
    </p>
    {% endfor %}
</div>
{% endblock %}

{% block extra_js %}

<script>
    
    $(function() {
        $('#topic-slider').range({
            min: 0,
            max: 6,
            start: 2,
            onChange: function(val) { 
                $("#topic-value").text(val);
                $(".sentence-vis").removeClass('sentence-disable-color');
                for(var i=0; i<val; i++){
                    if(!$(".weight-"+i).hasClass('sentence-disable-color')) $(".weight-"+i).addClass('sentence-disable-color');
                }


            }
        });

        $('#relevance-slider').range({
            min: 0,
            max: 5,
            start: 2,
            onChange: function(val) { 
                $("#relevance-value").text(val);
                $(".word-relevance").removeClass('word-disable-color');
                for(var i=0; i<val; i++){
                    if(!$(".relevance-weight-"+i).hasClass('word-disable-color')) $(".relevance-weight-"+i).addClass('word-disable-color');
                }
            }
        });

        $(".close.icon").click(function(){
            $(this).parent().hide();
        });
        
    });
</script>
{% endblock %}